.vaga-card {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}
/* Efeito ao passar o mouse */
.vaga-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.vaga-card h3 {
  font-size: 16px;
  font-weight: 600;
  color: #1f3b57;
  margin-bottom: 15px;
  min-height: 48px; /* mantém altura padrão */
}

.vaga-img {
  width: 100%;
  height: 60px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 15px;
}

.vaga-card p {
  font-size: 14px;
  color: #5c6b7a;
  font-weight: 500;
}
.vaga-card {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
































