.vagaCard {
    width: 300px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px 20px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}
/* Efeito ao passar o mouse */
.vagaCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.vagaCard h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--cor-secundaria);
  margin-bottom: 5px;
  min-height: 48px; /* mantém altura padrão */
}

.vagaCard p {
  font-size: 14px;
  color: var(--cor-explicacao);
  font-weight: 500;
}
.vagaCard {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
































