.cadastroCan-container {
    width: 450px;
    margin: 60px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* Titulos */
.cadastroCan-title {
    font-size: 26px;
    font-weight: bold;
    color: #0d3b66;
}
.cadastroCan-subtitle {
    margin-top: 6px;
    margin-bottom: 20px;
    color: #5f6c7b;
    font-size: 14px;
}
/* formulario */
.cadastroCan-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cadastro-group {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}
.cadastro-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.cadastro-group input[type="radio"] {
    width: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.cadastro-group label {
    cursor: pointer;
    font-weight: 500;
}
label {
    margin-bottom: 4px;
    font-size: 14px;
    color: #0d3b66;
}
input {
    width: 300px;
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}
/* erro */
.cadastroCan-error {
    color: red;
    margin-bottom: 10px;
    font-size: 13px;
}

/* esqueci a senha */
.cadastroCan-forgot {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: #1e6091;
    text-decoration: none;
}
.cadastroCan-forgot:hover {
    text-decoration: underline;
}
/* separador */
.cadastroCan-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 16px 0;
    color: #6b7280;
    font-size: 14px;
}
.cadastroCan-divider span {
    flex: 1;
    height: 1px;
    background: #ccc;
}
/* Botao google*/
.google-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #0d3b66;
    font-weight: bold;
}
.enter-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    background-color: #36A99A;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #f5f3f3;
    font-weight: bold;
    margin: 15px;
}
.google-button img {
    width: 18px;
}
.google-button:hover {
    background-color: #f8f8f8;
}