.cadastroCandContainer {
    max-width: 550px;
    margin: 40px auto;
    padding: 32px;
    background: white;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.cadastroCandtitulo {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-principal);
}

.cadastroCandSubtitulo {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 30px;
    color: var(--cor-explicacao);
}

.cadastroCandForm {
    display: flex;
    flex-direction: column;
}

.cadastroGroup {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
}

.cadastroItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cadastroItem input {
    cursor: pointer;
}

.cadastroItem label {
    cursor: pointer;
    color: var(--cor-secundaria);
    font-weight: 500;
}

.cadastroCandForm label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
    color: var(--cor-secundaria);
    font-weight: 600;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    margin-bottom: 18px;
    font-size: 14px;
    transition: .2s;
}

.input:focus {
    outline: none;
    border-color: var(--cor-texto);
    box-shadow: 0 0 0 3px rgba(30, 128, 168, 0.15);
}

.enterButton {
    width: 100%;
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: var(--cor-botao);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.enterButton:hover {
    background: var(--cor-botao-secundario);
}

.enterButton:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.cadastroCandForgot {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.cadastroCandForgot:hover {
    text-decoration: underline;
}

.error {
    padding: 12px;

    margin-bottom: 20px;

    border-radius: 10px;

    background: #fef2f2;

    border: 1px solid #fecaca;

    color: #dc2626;

    text-align: center;
}

@media (max-width: 768px) {
    .cadastroCandContainer {
        margin: 20px;
        padding: 24px;
    }

    /* .cadastroGroup {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    } */

    .cadastroCandtitulo {
        font-size: 1.6rem;
    }
}