
.login-container{
    width: 360px;
    margin: 60px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* Titulos */
.login-title {
    font-size: 26px;
    font-weight: bold;
    color: #0d3b66;
}
.login-subtitle {
    margin-top: 4px;
    margin-bottom: 20px;
    color: #5f6c7b;
    font-size: 14px;
}
/* formulario */
.login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}
label {
    margin-bottom: 4px;
    font-size: 14px;
    color: #0d3b66;
}
input {
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}
/* erro */
.login-error {
    color: red;
    margin-bottom: 10px;
    font-size: 13px;
}
/* Botoes */
.login-button {
    width: 100px;
    padding: 10px;
    background-color: #2e9d8f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}
.login-button:hover {
    background-color: #23867a;
}

/* esqueci a senha */
.login-forgot {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: #1e6091;
    text-decoration: none;
}
.login-forgot:hover {
    text-decoration: underline;
}
/* separador */
.login-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 16px 0;
    color: #6b7280;
    font-size: 14px;
}
.login-divider span {
    flex: 1;
    height: 1px;
    background: #ccc;
}
/* Botao google*/
.google-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #0d3b66;
    font-weight: bold;
}
.enter-button {
 width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    background-color: #36A99A;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #ccc;
    font-weight: bold;
}
.google-button img {
    width: 18px;
}
.google-button:hover {
    background-color: #f8f8f8;
}