
.loginContainer {
    width: 300px;
    margin: 40px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* Titulos */
.loginTitulo {
    font-size: 26px;
    font-weight: bold;
    color: var(--cor-principal);
}
.loginSubtitulo {
    margin-top: 6px;
    margin-bottom: 20px;
    color: var(--cor-explicacao);
    font-size: 14px;
}
/* formulario */
.loginForm {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.label {
    margin-bottom: 4px;
    font-size: 14px;
    color: var(--cor-secundario);
}
.input {
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}
/* Botoes */
.loginButton {
    width: 100px;
    padding: 10px;
    background-color: var(--cor-botao-secundario);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}
.loginButton:hover {
    background-color: var(--cor-botao-secundario);
}

/* esqueci a senha */
.loginForgot {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: var(--cor-secundario);
    text-decoration: none;
}
.loginForgot:hover {
    text-decoration: underline;
}
/* separador */
.loginDivider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 16px 0;
    color: var(--cor-explicacao);
    font-size: 14px;
}
.loginDivider span {
    flex: 1;
    height: 1px;
    background: #ccc;
}
/* Botao google*/
.googleButton {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--cor-botao);
    font-weight: bold;
}
.enterButton {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    background-color: var(--cor-botao-secundario);
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #fbfafa;
    font-weight: bold;
}
.googleButton img {
    width: 18px;
}
.googleButton:hover {
    background-color: #f8f8f8;
}