.container-all {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Título */
.title h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.buscar-empresas {
  width: 100%;
  padding: 12px 16px;
  border-radius: 10px;
  border: 0.2px solid #ecedee;
  background-color: #ffffff;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 14px;
}

/* GRID DE CARDS */
.empresas-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

/* CARD */
.card-empresas {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Hover elegante */
.card-empresas:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/* Cabeçalho */
.card-header h3 {
  font-size: 18px;
  color: #1f3c88;
  margin-bottom: 15px;
}

/* Corpo */
.card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-body .info {
  font-size: 14px;
  color: #1E80A8;
  word-break: break-word;
}
