.header {
    width: 100%;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.headerContent {
    max-width: 1320px;
    height: 75px;

    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */

.logo {
    font-size: 28px;
    font-weight: 800;
}

.logo a {
    text-decoration: none;
    color: var(--cor-principal);
}

.logo a:hover {
    opacity: 0.9;
}

.aki {
    color: var(--cor-botao-secundario);
    font-weight: 300;
}

/* MENU */

.menu ul {
    display: flex;
    align-items: center;
    gap: 32px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    position: relative;

    text-decoration: none;
    color: var(--cor-principal);

    font-weight: 600;

    transition: 0.3s;
}

.menu a:hover {
    color: var(--cor-botao-secundario);
}

.menu a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -6px;

    width: 0;
    height: 2px;

    background: var(--cor-botao-secundario);

    transition: width 0.3s ease;
}

.menu a:hover::after {
    width: 100%;
}

/* PERFIL */

.profileLink {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profileLink svg {
    font-size: 18px;
}

/* BOTÕES */

.button {
    background: var(--cor-botao);

    color: white;

    border: none;
    border-radius: 10px;

    padding: 10px 22px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.button:hover {
    background: var(--cor-botao-secundario);
    transform: translateY(-2px);
}
.loginButton {
    background: var(--cor-botao);
    color: white !important;

    padding: 10px 22px;
    border-radius: 10px;

    font-weight: 600;
    text-decoration: none;

    transition: 0.3s;
}

.loginButton:hover {
    background: var(--cor-botao-secundario);
    transform: translateY(-2px);
}

/* RESPONSIVO */

@media (max-width: 768px) {
    .headerContent {
        flex-direction: column;
        height: auto;
        gap: 16px;
        padding: 16px;
    }

    .menu ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .button {
        width: 100%;
    }
}