.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08); 
}
.logo {
    font-size: 26px;
    font-weight: bold;
    color: #0F3A5F;
}
.aki {
    color: #1E80A8;
    font-weight: 100;
}
.menu {
    display: flex; 
}
.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.menu li {
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.button {
    background-color: #314b86;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
    border: none;
}
.button:hover {
    background-color: #279889;
}