.footer {
  background: var(--cor-principal);
  color: white;

  margin-top: 40px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 40px 24px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
}

/* Marca */

.brand h2 {
  font-size: 2rem;
  margin-bottom: 12px;
}

.brand span {
  color: var(--cor-botao-secundario);
  font-weight: 300;
}

.brand p {
  color: rgba(255,255,255,.8);
  line-height: 1.7;
  max-width: 320px;
}

/* Seções */

.section h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section li {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 10px;
}

.section a {
  color: rgba(255,255,255,.8);
  text-decoration: none;

  transition: .3s;
}

.section a:hover {
  color: white;
  padding-left: 4px;
}

/* Copyright */

.copy {
  border-top: 1px solid rgba(255,255,255,.15);
  text-align: center;
  padding: 10px;

  color: rgba(255,255,255,.7);
  font-size: .9rem;
}

/* Responsivo */

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section h3,
  .section li {
    justify-content: center;
  }

  .brand p {
    margin: auto;
  }
}