
.banner-container {
    width: 1320px;
    height: 433px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.banner-text{
    width: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    border: 1px solid green;
    
}
.banner-text h2 {
    font-size: 60px;
    padding-bottom: 25px;
}
.banner-text p {
    font-size: 24px;
    padding-bottom: 20px;
}
.btn-ver-vagas {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #FF7A5E;
    border-style: none;
    color: white;
    font-size: 22px;
}
.logo-image{
    width: 660px;
    border: 1px solid;
}
.vagas-section {
    width: 1320px;
    height: 390px;
    padding: 15px;
    margin: auto;
}
.vagas-header {
  display: flex;
  justify-content: space-between; /* joga cada item para uma ponta */
  align-items: center; /* alinha verticalmente */
  margin: 20px 0;
}